/* pc small */
@media  screen and (max-width: 82.8125em){
    .footer{
        padding-left: 50px;
        padding-right: 50px;

    }
    .footer-content{
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }
    .footer-heading{
        font-size: 1.3rem;
        color: var(--text-color);
        
        }
}
/* ipad */
@media  screen and (min-width:46.25em) and (max-width: 63.9375em) {
}
/* mobile */
@media  screen and (max-width:46.1875em){
}